/* Write your CSS here */
.light_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 25px;
}

.dark_container {
  border-radius: 10px;
  text-align: center;
  padding: 24px;
}

.dark-mode {
  color: #ffffff;
  background-color: #000000;
}

.light-mode {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #000000;
}

.heading {
  font-family: 'Roboto';
  font-size: 33px;
}

.button {
  border-radius: 8px;
  font-size: 16px;
  padding: 15px;
  border: none;
}
